# Course 09 Machine learning Capestone project

## Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

In [1]:
# import required libraries

import pandas as pd

In [2]:
# read required table from html page

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

dfs = pd.read_html(url, match='Borough', header=0 , index_col=None, na_values='Not assigned')

if len(dfs) != 0:
    df = dfs[0]

df.shape

(287, 3)

In [3]:
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A               NaN               NaN
1      M2A               NaN               NaN
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A               NaN               NaN
9      M9A      Queen's Park               NaN

In [4]:
# drop Nan values at Borough column to Ignore cells with a borough that is Not assigned

df.dropna(axis=0, subset=['Borough'], inplace=True)

df.shape

(210, 3)

In [5]:
# replace Not assigned neighborhood with same as the borough

df['Neighbourhood'].fillna(df['Borough'], inplace=True)

In [6]:
# combine neighbourhoods having same postal code area

df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.shape

(103, 3)

In [7]:
df.head(10)

  Postcode      Borough                                  Neighbourhood
0      M1B  Scarborough                                  Rouge,Malvern
1      M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough                Guildwood,Morningside,West Hill
3      M1G  Scarborough                                         Woburn
4      M1H  Scarborough                                      Cedarbrae
5      M1J  Scarborough                            Scarborough Village
6      M1K  Scarborough      East Birchmount Park,Ionview,Kennedy Park
7      M1L  Scarborough                  Clairlea,Golden Mile,Oakridge
8      M1M  Scarborough  Cliffcrest,Cliffside,Scarborough Village West
9      M1N  Scarborough                     Birch Cliff,Cliffside West

In [8]:
df.shape

(103, 3)